.header__container {
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
  height: 100%;
}

.header__title {
  color: var(--mantine-color-gray-9);
  font-size: var(--mantine-font-size-xl);
  display: flex;
  align-items: center;
}

.header__settings {
  display: flex;

  * {
    color: var(--mantine-color-gray-5);
  }
}
