a {
  color: inherit;
  text-decoration: none;
}

.menu__target-title {
  color: var(--mantine-color-gray-5);
}

.menu__item-email {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-gray-5);
}
